<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitulagr.tripplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.WAKE_LOCK"
        xmlns:tools="http://schemas.android.com/tools"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        xmlns:tools="http://schemas.android.com/tools"
        tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripPlanner">
        <activity
            android:name=".ExpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3973735865936470~7920834346" />

        <activity
            android:name=".PageMain"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".addtrip"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>